<%- include('popupNewMember')%>
<%# include('popupNewProject')%> 
<!-- pop up new member/project -->

<div class="custom-container px-3 py-5">
	<h1 class="main-title text-center fw-bold mt-3 mb-5">Tasks management</h1>
	<div class="nav-wrapper">
		<a href="/" class="button main-btn h3 my-3">PROJECTS</a>
		<a href="/members" class="button main-btn h3 my-3">TEAM</a>
	</div>
 <div class="nav-wrapper">
   <div class="button main-btn h3" onclick="toggleModal()">ADD NEW PROJECT</div>
   <div class="button main-btn h3" onclick="toggleModalUser()">ADD NEW MEMBER</div>
 </div>
</div>