<!--popup add new MEMBER-->
<div id="modal-add-user" class="popup-form"> <div class="bg-modal" onclick="toggleModalUser()"></div>
	<form class="form-modal" action="/register" method="post">
		<div class="h3 text-center pb-3">Add new Member</div>
		<label class="label" for="username">Username</label>
		<input type="text" name="username"/>
		<label class="label" for="email">Email</label>
		<input type="email" name="email"/>
		<label class="label" for="password">Password</label>
		<input type="password" name="password"/>
		<label class="label" for="file">Avatar</label>
		<input type="file" name="file" id="input-files">

		<div class="btn-group">
			<button class="button main-btn" type="submit">SUBMIT</button>
			<!-- <button class="button main-btn-border" onclick="toggleModal(e)">CANCLE</button> -->
		</div>
	</form>
	<div class="row">
        <div class="col-sm-12">
          <div class="preview-images"></div>
        </div>
      </div>
</div>