<%- include('includes/header')%>
<!--header-->



<%- include('includes/navi')%>
<!--navi-->


    <div class="custom-container">
        <div class="member-container">
            <!--MEMBER-->   
            <% data.forEach(function(member) { %>
            <div class="member">
                <div class="left-panel">
                    <img class="avatar-img" src="public/images/michaela.png" alt="binaryone">
                    <div  class="h3  my-4"><%= member.username %></div>
                </div>
                <div class="right-panel">
                    <div class="h3">Working on:</div>
                    <ul>
                        <li class="project-settings">Solicare - implementing xy
                            <div class="wrapper-tools-small mx-3">
                                <div class="tool bg-success">
                                   <i class="fas fa-edit"></i>  
                                </div>
                                <div class="tool bg-danger">
                                    <i class="fas fa-trash-alt"></i>
                                </div>
                            </div>
                        </li>
                        <li  class="project-settings">Zidatech - lorem ipsum text 
                            <div class="wrapper-tools-small mx-3">
                                <div class="tool bg-success">
                                   <i class="fas fa-edit"></i>  
                                </div>
                                <div class="tool bg-danger">
                                    <i class="fas fa-trash-alt"></i>
                                </div>
                            </div>
                        </li>
                        <li  class="project-settings">Lorem - short description
                            <div class="wrapper-tools-small mx-3">
                                <div class="tool bg-success">
                                   <i class="fas fa-edit"></i>  
                                </div>
                                <div class="tool bg-danger">
                                    <i class="fas fa-trash-alt"></i>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="left-panel">
                    <div class="wrapper-tools">
                        <div class="tool bg-success">
                           <i class="fas fa-edit"></i>  
                        </div>
                        <div class="tool bg-danger">
                            <i class="fas fa-trash-alt"></i>
                        </div>
                        <div class="tool bg-primary d-block d-sm-none">
                            <i class="fas fa-plus"></i>
                        </div>
                    </div>
                </div>
                <div class="right-panel">
                    <div class="wrapper-tools">
                        <div class="tool bg-primary d-none d-sm-block">
                            <i class="fas fa-plus"></i>
                        </div>
                    </div>
                </div>
            </div>
            <% }) %>

        </div>
    </div>
    
    

<!--footer included here-->
<%- include('includes/footer')%>
    