.button {
  cursor: pointer;
  border: none;
  outline: none !important;
  background: none;
  text-align: center;
  padding: 10px;
  font-weight: bold;
  border-radius: 25px;
  width: 100%;
}

.main-btn {
  background-color: #ea6b15;
  color: #0c1e40;
}

.main-btn:hover {
  background-color: #0c1e40;
  color: #fff;
}

.main-btn-border {
  border: 3px solid #ea6b15;
  color: #ea6b15;
}

.main-btn-border:hover {
  border: 3px solid #0c1e40;
  color: #0c1e40;
}

.reverse-btn {
  background-color: #0c1e40;
  color: #fff;
}

.wrapper-tools, .wrapper-tools-small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper-tools .tool, .wrapper-tools-small .tool {
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
}

.wrapper-tools-small .tool {
  padding: 5px 8px;
  border-radius: 50%;
  font-size: 10px;
  margin: 2px;
}

html {
  font-size: 0.75rem;
}

@media (max-width: 576px) {
  html {
    font-size: 50%;
  }
}

.main-title {
  font-size: 2.5rem;
  font-weight: bold;
}

.sub-title {
  font-size: 2rem;
  font-weight: bold;
}

.h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

.h4 {
  font-size: 1rem;
  font-weight: bold;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: auto;
  width: 100%;
  font-size: 14px;
  color: #0c1e40;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: #323232;
  cursor: pointer;
}

input, select, textarea {
  outline: none;
  padding: 0.5rem;
  border: 1px solid #0c1e40;
  background-color: #fff;
  width: 100%;
  border-radius: 3px;
  margin-bottom: 0.75rem;
}

input[type='checkbox'] {
  width: 2rem;
}

/*CUSTOM CLASSES*/
@media (min-width: 576px) {
  .custom-container {
    width: 90%;
    margin: auto;
  }
}

@media (min-width: 1785px) {
  .custom-container {
    width: 1641px;
    margin: auto;
  }
}

.nav-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 2%;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.avatar-img {
  width: 50px;
  height: auto;
}

.member-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

@media (max-width: 992px) {
  .member-container {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

.member-container .member {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  padding: 40px 20px;
  border: 4px solid #ea6b15;
  border-radius: 25px;
}

@media (max-width: 576px) {
  .member-container .member {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

.member-container .member .left-panel, .member-container .member .right-panel {
  text-align: center;
}

.member-container .member .project-settings {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.projects-wrapper {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

@media (max-width: 992px) {
  .projects-wrapper {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

.projects-wrapper .project-summary {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 60% 20%;
      grid-template-columns: 20% 60% 20%;
  gap: 10px;
  padding: 40px 20px;
  border: 4px solid #ea6b15;
  border-radius: 25px;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0;
}

@media (max-width: 576px) {
  .projects-wrapper .project-summary {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

.projects-wrapper .project-summary .deadline {
  font-weight: bold;
}

.popup-form {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  /*   display: flex; */
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
}

.popup-form .bg-modal {
  width: 100%;
  height: 100%;
  background-color: rgba(12, 30, 64, 0.5);
  position: absolute;
}

.popup-form .form-modal {
  width: 500px;
  height: 600px;
  background-color: #fff;
  position: absolute;
  z-index: 99;
  padding: 3rem;
  border-radius: 3px;
  border: 3px solid #ea6b15;
}

.popup-form .form-modal .label {
  font-weight: bold;
}

.popup-form .form-modal .choice {
  margin-top: 2rem;
}

.popup-form .form-modal .choice .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
}

.popup-form .form-modal .btn-group {
  position: absolute;
  bottom: 5rem;
  width: 85%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  gap: 10px;
}
/*# sourceMappingURL=app.css.map */