.button{
    cursor:pointer;
    border:none;
    outline:none !important;
    background:none;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    border-radius: 25px;
    width: 100%;
}



.main-btn{
    background-color:$color3;
    color:$color1;
    &:hover{
        background-color:$color1;
        color:$color2;
    }
}
.main-btn-border{
    border: $thickness solid $color3;
    color:$color3;
    &:hover{
        border: $thickness solid $color1;
        color:$color1;
    }
}

.reverse-btn{
    background-color:$color1;
    color:$color2;

}

.wrapper-tools, .wrapper-tools-small{
    display: flex;
    justify-content: center;
    align-items: center;
    .tool{
        color:$color2;
        padding: 10px;
        border-radius: 5px;
        margin: 5px;
        cursor: pointer;
    }
}

.wrapper-tools-small{
    .tool{
        padding: 5px 8px;
        border-radius: 50%;
        font-size: 10px;
        margin: 2px;
    }
}